#header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  padding: 48px 0 72px 0;
}

#header a {
  text-decoration: none;
}

#header h1 {
  color: #F66047;
  font-size: 38px;
}

.navbar {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.navbar .nav-item {
  float: left;
  display: block;
  text-align: center;
  margin: 16px 0 16px 48px;
}

.navbar .nav-link {
  text-decoration: none;
  color: #3A3A3A;
}

.navbar .nav-link:hover {
  color: #F66047;
  transition-delay: 0.2s; /* Add delay */
}


.nav-button {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:3px solid rgba(255, 255, 255, 0.18);
  text-decoration: none;
  color: #3A3A3A;
  text-align: center;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.4s ease;
}

.nav-button:hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
  transition-delay: 0.2s;
  color: #F66047;
}