@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,400&display=swap');

:root {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #292929;
  overscroll-behavior: contain;
}

* {
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  gap: 40px;
}

.dark-text { color: #292929; }
.gray-text  { color: #BFBFBF; }

body {
  overflow-x: hidden;
  width: 100%;
  background: transparent;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 120px;
}